<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <a href="/notifications/new" class="btn btn-danger">add a new notif</a>
    <% for( let notif of allNotifs ) { %>
        <div>body: <%= notif.body %>, author: <%= notif.author %>
        </div>
        <% } %>
</body>
</html>